root { 
  display: block;
}

.contenedor{
  margin: auto;
  width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  border-style:solid;
  border-color: white;
  border-top: 0px;
  border-bottom : 0px;
}
.nuevo{
  position: absolute;
  left: 867px;
}

body {
  font-family: Arial, sans-serif;
  background-color: lightgray;
}

p {
  text-align: justify;
  margin: 30px;
}

h1 {
  text-align: center;
  color: rgb(128, 0, 60);
  text-shadow: #242424 2px 2px 1px;
}

h2 {
  text-align: left;
  color: #fa6753;
  padding-top: 32px;
  font-size: 18px;
  text-shadow: #242424 2px 2px 1px;
}
h3{
  text-align: center;
}

form.datos {
  background-color: #abcdef;
  width: 600px;
  margin: auto;
  padding: 60px;
  box-shadow: #242424 4px 4px 4px;
  border-radius: 56px;
  text-align: center;
}
.boton{

  width:100%;
}

table {
  background-color: white;
  margin: auto;
  padding: 20px;
  box-shadow: #242424 4px 4px 4px;
  text-align: center;
  border: 0px;
  border-collapse: collapse;
}

th {
  background-color: #555555;
  text-shadow: #ff0000 2px 2px 1px;
  color: white;
  padding: 4px;
  margin: 2px;
}

td {
  padding: 10px;
  text-align: center;
}

a {
  float: left;
  margin:0px;
  margin-right: 10px;
  padding:0px;
  display: block;
  padding: 3px;
  width: 160px;
  background-color: #555555;
  border-bottom: 1px solid #eeeeee;
  text-align:center;
}

a:link, a:visited {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  background-color: #000000;
  color: #ffffff;
}