* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Contenedor global */
.contenedor {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Contenedor principal */
.contenedor-main {
  display: flex;
  flex-direction: column;
}

/* Contenedor enlaces */
.contenedor-aside {
  order: 2;
}

/* Contenedor servicios */
.contenedor-servicios {
  display: flex;
  flex-direction: column;
}

.header-sitio,
footer {
  flex-basis: 100px;
}
